{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="../styles/service.css">

    {{ include('/menu/menu.html.twig') }}
    <div class="image"></div>
    <div class="contenu">  
        <h1> Our Services</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.libelle }}</td>
                        <td>{{ service.description }}</td>
                        <td>
                            <a href="{{ path('service_show', {'id': service.id}) }}"><button class="btn btn-info btn-lg">Show <i class="fas fa-info"></i></button></a>
                            <a href="{{ path('service_edit', {'id': service.id}) }}"><button class="btn btn-success btn-lg ">Edit <i class="fas fa-edit"></i></button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ path('service_new') }}"><button class="btn btn-primary btn-lg " >Add <i class="fa fa-plus-square"></i></button></a>
        </div>
    </div>
{% endblock %}
