{% extends 'base.html.twig' %}
{% block title %}Client index{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="../styles/client.css">

    {{ include('/menu/menu.html.twig') }}
    <div class="image"></div>
    <div class="contenu text-white">   
        <h1>Our Clients</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom_cli</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.nomCli }}</td>
                        <td>{{ client.prenom }}</td>
                        <td>{{ client.adresse }}</td>
                        <td>{{ client.email }}</td>
                        <td>
                            <a href="{{ path('client_show', {'id': client.id}) }}"><button class="btn btn-info btn-lg "> Show <i class="fas fa-info"></i></button></a>
                            <a href="{{ path('client_edit', {'id': client.id}) }}"><button class="btn btn-success btn-lg "> Edit <i class="fas fa-edit"></i></button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ path('client_new') }}"><button class="btn btn-primary btn-lg">Add <i class="fa fa-plus-square"></i></button></a>
        </div>
    </div>
{% endblock %}
